matplotlib==3.4.2
matplotlib-inline==0.1.2
numpy==1.22.3
qiskit==0.41.0
qiskit-aer==0.11.2
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.20.0
qiskit-ignis==0.6.0
qiskit-machine-learning==0.2.1
qiskit-nature==0.2.2
qiskit-optimization==0.2.3
qiskit-terra==0.23.1
scikit-learn==0.24.1
scipy==1.6.1
wexpect==4.0.0
